*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}
#content{
    width: 1000px;
    height: auto;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #ff6347;
    margin: 0 20px;
    padding-top: 20px;
}
input{
    width: 60%;
    height: 30px;
}
button{
    width: 30%;
    height: 30px;
}

.text_list{
    width: 100%;
    margin: 0 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    background-color: #e0e0e0;
}

li {
    padding:10px;
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
li.completed {
    text-decoration: line-through;
}

li button {
    text-align: right;
    background-color: #bbb;
    border: none;
    padding: 8px;
    cursor: pointer;
}

/* Ẩn dấu tích */
.checkmark {
    display: none;
}
/* Hiển thị dấu tích */
.completed .checkmark {
    display: inline;
}

